header{
    display: flex;
    height: 5rem;
    width: 100%;
    background-color: #232566;
    align-items: center;
    position: fixed ;
    z-index: 999;
    top: 0;
    left: 0;
}

header div a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Sikta Banner;
    padding-left: 4rem;
    padding-right: 4rem;
}
body div img{
    position: relative;
    z-index: 3;
    width: 15%;
    left: 42%;
    margin-top:12%;
}
#box{
    position: absolute;
    z-index: 0;
    background-color: #232566;
    top: 25%;
    width: 15%;
    height: 30%;
    left: 42%;
    border-radius: 160px 160px 160px;
}
#frase-terra{
    position: absolute;
    font-family: Sikta Banner;
    color: #232566;
    left: 20%;
    right: 20%;
    top: 58%;
    text-align: center;
    font-size: 120%;
}
#box2{
    position: absolute;
    z-index: 2;
    background-color: rgba(192, 175, 175, 0.295);
    border-radius: 120px 120px 120px;
    top: 88%;
    left: 15%;
    width: 16%;
    height: 30%;
}
footer{
    position: absolute;
    background-color:#232566;
    color: white;
    font-size: 20px;
    width: 100%;
    height: 15%;
    display: flex;
    left: 0;
    margin-top: 60%;
}

footer div{
    margin-left: 60px;
    margin-top: 40px;
}

footer img{
    width: 12%;
    left: 20%;
}

.info-rodape{
    margin-left: 5%;
    margin-right: 15%;
}
#logo2{
    position: absolute;
    z-index: 2;
    width: 14%;
    left: 16%;
    top: 96%;
}
#ibraema{
    position: absolute;
    font-family: Sikta Banner;
    color: #232566;
    top: 120%;
    left: 19%;
}